body{
    background-color:#5F9EA0;
    text-align:center;
}

img{
    width:75%;
    height:75%;
    display:inline-block;
    margin:auto;
    border-width:2px;
    border-color:black;
    border-style:double;
}

heater {
    display:block;
    color:white;
    font-size:xx-large;
    text-align:center;
}


